In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Data/costSensitive.csv')

In [4]:
print(df.shape)

(147636, 13)

In [7]:
df.tail()

,NotCount,YesCount,ATPM,PFD,PFG,SFD,SFG,WP,WS,AH,AN,Status,FNC
147631,4,19,1.0,1.09306,4.25256,0.0,0.0000,21.946737,2.679667,0.0,0.0,0,6.092077e+05
147632,16,7,1.0,0.00000,0.00000,0.0,0.0000,0.000000,2.549239,0.0,0.0,0,6.996571e+05
147633,2,21,1.0,4.64145,5.47616,0.0,25.5783,48.283019,2.442827,0.0,0.0,0,9.658214e+05
147634,3,20,1.0,0.00000,0.40989,0.0,0.0000,0.694601,4.078739,0.0,0.0,0,1.612465e+06
147635,6,17,1.0,3.16026,4.86214,0.0,0.0000,19.958639,2.077415,0.0,0.0,0,1.703186e+06

In [12]:
# Shows high costs      
t = 20
print(df[df['FNC'] > t].shape)

(65738, 13)

In [13]:
# Data Imbalance
df["Status"].value_counts()

Status
0    103554
1     44082
Name: count, dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147636 entries, 0 to 147635
Data columns (total 13 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   NotCount  147636 non-null  int64
 1   YesCount  147636 non-null  int64
 2   ATPM      147636 non-null  float64
 3   PFD       147636 non-null  float64
 4   PFG       147636 non-null  float64
 5   SFD       147636 non-null  float64
 6   SFG       147636 non-null  float64
 7   WP        147636 non-null  float64
 8   WS        147636 non-null  float64
 9   AH        147636 non-null  float64
 10  AN        147636 non-null  float64
 11  Status    147636 non-null  int64
 12  FNC       147636 non-null  float64
dtypes: float64(10), int64(3)
memory usage: 14.6 MB

In [17]:
# All are continuous values

df.describe()

,NotCount,YesCount,ATPM,PFD,PFG,SFD,SFG,WP,WS,AH,AN,Status,FNC
count,147636.000000,147636.000000,147636.000000,147636.000000,147636.000000,147636.000000,147636.000000,147636.000000,147636.000000,147636.000000,147636.000000,147636.000000,1.476360e+05
mean,7.722107,15.220908,0.253245,0.027062,0.050789,0.021648,0.071709,0.271927,0.493587,0.045045,0.013474,0.298586,5.334049e+02
std,7.574278,7.596921,0.366280,0.335509,0.373370,0.298285,1.135755,2.432425,0.763389,0.182274,0.100973,0.457639,8.774011e+03
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,2.000000,10.000000,0.001084,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.820820e-01
50%,4.000000,19.000000,0.033354,0.000000,0.000000,0.000000,0.000000,0.000000,0.097875,0.000000,0.000000,0.000000,1.183562e+01
75%,13.000000,21.000000,0.394372,0.000000,0.000000,0.000000,0.000000,0.061840,0.880929,0.000000,0.000000,1.000000,1.069840e+02
max,23.000000,22.000000,1.000000,79.837480,51.944780,61.556900,209.021870,399.606420,5.000000,1.000000,1.000000,1.000000,1.703186e+06

In [18]:
df['AH'].value_counts()

AH
0.000000    128122
1.000000      3651
0.000031       122
0.000186       104
0.000557        70
             ...
0.423351         1
0.269309         1
0.422267         1
0.140694         1
0.916507         1
Name: count, Length: 8387, dtype: int64

In [19]:
df['AN'].value_counts()

AN
0.000000    138873
1.000000      1083
0.000186       101
0.000557        84
0.000031        80
             ...
0.222639         1
0.044534         1
0.125271         1
0.286621         1
0.993682         1
Name: count, Length: 3610, dtype: int64

In [20]:
df.columns

Index(['NotCount', 'YesCount', 'ATPM', 'PFD', 'PFG', 'SFD', 'SFG', 'WP', 'WS',
       'AH', 'AN', 'Status', 'FNC'],
      dtype='object')